# Rust
/target
Cargo.lock

# Node
node_modules
dist
.vite

# Development
.DS_Store
*.log
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db

# Temp
*.tmp
*.temp

# Environment variables
.env
.env.local
.env.*.local

.cursor/*
target/*
**/target/*
